  <div class="bg-main">

      </div>


<div class="jumbotron">
    <div class="container altura">
      <div class="row">


             <div>
                  <div>
                  <h2 class="text-white">
                    LugarES COSTA RICA
                  </h2>
                </div>
                <p class="text-white">Selecciona las Lugares que te interesan solamente, todas las acitividades que envies teniendo activada la flecha de seleccion se entendera que son Lugares que te interesan para realizar en tu viaje. En la parte de lugar puedes hacer click al evento y te llevara a una galeria de imagenes para que puedas tomar una mejor decision de viaje.</p>
      
            </div>
            <div class="divider-9"></div>

      <!-- NUMBER 1 ESCAZU.......-->
                <div>
                  <h2 class="text-white">
                    ESCAZU
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#escazu1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="escazu1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                               <th>Costo</th>

                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Visita a un mariposario silvestre </a></td>
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Butterfly+Kingdom+costa+rica+escazu#" target="_blank">Butterfly kingdom</a></td>
                      <!-- Page size -->
                      <td>Escazu</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>
                      <td class="black">$300</a></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Jugar golf en la selva Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, veritatis sed aperiam veniam aspernatur eos sunt repellat. Sed aut vitae quam totam autem, dolores nostrum possimus, at assumenda, ut eaque.</a></td>
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Tee+Times+Costa+Rica++escazu#" target="_blank">Tee Times Costa Rica (Golf)</a></td>
                      <!-- Page size -->
                      <td>Escazu</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>
                      <td class="black">$1000</a></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#escazu2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=rafting+y+nado+con+salvavidas#" target="_blank">rafting y nado con salvavidas</a></td>
                      <!-- Page size -->
                      <td>Escazu</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#escazu3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=multiplaza+shopping+mall+centro+escazu" target="_blank">Multiplaza shopping mall centro</a></td>
                      <!-- Page size -->
                      <td>Escazu</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    


                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#escazu4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=escazu+centro" target="_blank">Tour por el centro e historia de Escazu</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 2 CARTAGO.......-->
            <div>
                  <h2 class="text-white">
                    CARTAGO
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#cartago1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="cartago1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+Jardin+Botanico+Lankester" target="_blank">Jardin Botanico Lankester</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+Refugio+de+Vida+Silvestre" target="_blank">Refugio de Vida Silvestre</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#cartago2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+recorrido+en+bicicleta" target="_blank">Tour de recorrido de la ciudad en bicicleta</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#cartago3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+Basilica+de+Nuestra+Se%C3%B1ora+de+los+Angeles" target="_blank">Basilica de Nuestra Señora de los Angeles</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#cartago4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+Museo+Municipal+de+Cartago" target="_blank">Museo Municipal</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=cartago+Ruinas+de+la+Iglesia+de+Cartago" target="_blank">Ruinas de la Iglesia</a></td>
                      <!-- Page size -->
                      <td>Cartago</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>


                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 3 LIBERIA.......-->
            <div>
                  <h2 class="text-white">
                    LIBERIA
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#liberia1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="liberia1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=playas+de+guanacaste+costa+rica" target="_blank">Playas de guanacaste</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#liberia2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=liberia+Africa+Safari" target="_blank">Africa Safari</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#liberia3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=liberia+Iglesia+de+la+Ermita%2C+La+Agonia" target="_blank">Iglesia de la Ermita, La Agonia</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#liberia4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=liberia+Hidden+Garden+Art.+Gallery" target="_blank">Hidden Garden Art. Gallery</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=liberia+Tour+del+Caf%C3%A9" target="_blank">Tour del Café</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=liberia+Museo+de+Guanacaste" target="_blank">Museo de Guanacaste</a></td>
                      <!-- Page size -->
                      <td>Liberia</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 4 PUNTARENAS.......-->
            <div>
                  <h2 class="text-white">
                    PUNTARENAS
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#puntarenas1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="puntarenas1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Parque+Nacional+Marino+Ballena" target="_blank">Parque Nacional Marino Ballena</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Parque+Nacional+Manuel+Antonio" target="_blank">Parque Nacional Manuel Antonio</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Selvatura+Park#" target="_blank">Selvatura Park</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#puntarenas2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="puntarenas2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Montezuma+Falls#" target="_blank">Montezuma Falls</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Bahia+Aventuras#" target="_blank">Bahia Aventuras</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=puntarenas+El+Santuario+Canopy+Adventure+Tour" target="_blank">El Santuario Canopy Adventure Tour</a></td>
                      <!-- Page size -->
                      <td>Puntarenas</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#puntarenas3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="puntarenas3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=puntarenas+#" target="_blank">Bahia y malecon de puntarenas</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            

            
            <div class="divider-5"></div>
            <!-- NUMBER 5 SAN JOSE.......-->
            <div>
                  <h2 class="text-white">
                    SAN JOSE
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#san_jose1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="san_jose1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Parque+Nacional+Braulio+Carrrillo#" target="_blank">Parque Nacional Braulio Carrrillo</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Spirogyra+Butterfly+Garden" target="_blank">Spirogyra Butterfly Garden</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Parque+Nacional+de+Tortuguero" target="_blank">Parque Nacional de Tortuguero</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Orosi+River+Valley" target="_blank">Orosi River Valley</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>



                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#san_jose2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Rafting+en+el+R%C3%ADo+Pacuare" target="_blank">Rafting en el Río Pacuare</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Recorrido+de+Aventura+en+la+Selva+Tropical+en+el+Teliferico+del+Atlantico#" target="_blank">Recorrido de Aventura en la Selva Tropical en el Teliferico del Atlantico</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Excursion+al+Volcan+Arenal#" target="_blank">Excursion al Volcan Arenal</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Volcan+Irazu%2C+Valle+de+Orozi" target="_blank">Tour Volcan Irazu, Valle de Orozi</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Volcan+Poas" target="_blank">Volcan Poas</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#san_jose3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=parque+espana+san+jose" target="_blank">Parque Espana</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=san+jose+Iglesia+de+la+Merced" target="_blank">Iglesia de la Merced</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=san+jose+Old+Atlantic+Rail+Staition#" target="_blank">Old Atlantic Rail Staition</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=san+jose+Central+Bank" target="_blank">Central Bank</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#san_jose4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Teatro+Nacional+Costa+Rica" target="_blank">Teatro Nacional Costa Rica</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=museo+del+jade+costa+rica" target="_blank">Museo del Jade</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Museo+del+Oro+Precolombino" target="_blank">Museo del Oro Precolombino</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=museo+nacional+costa+rica" target="_blank">Museo Nacional</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=Mercado+Nacional+de+Artesanias+costa+rica" target="_blank">Mercado Nacional de Artesanias</a></td>
                      <!-- Page size -->
                      <td>San jose</td>
                      <!-- Status -->
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 6 LIMON.......-->
            <div>
                  <h2 class="text-white">
                    LIMON
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#limon1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="limon1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Foundation+Jaguar+Rescue+Center" target="_blank">Foundation Jaguar Rescue Center</a></td>
                      <!-- Page size -->
                      <td>Limon</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#limon2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="limon2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#limon3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="limon3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#limon4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="limon4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 7 LA FORTUNA.......-->
            <div>
                  <h2 class="text-white">
                    LA FORTUNA
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#la_fortuna1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="la_fortuna1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#la_fortuna2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="la_fortuna2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#la_fortuna3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="la_fortuna3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#la_fortuna4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="la_fortuna4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Lugar</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            
            


</div>





      <div>
   </div>
</div>