  <div class="bg-main">

      </div>


<div class="jumbotron">
    <div class="container altura">
      <div class="row">


             <div>
                  <div>
                  <h2 class="text-white">
                    ACTIVIDADES COSTA RICA
                  </h2>
                </div>
                
      
            </div>
            <div class="divider-9"></div>

      <!-- NUMBER 1 ESCAZU.......-->
                <div>
                  <h2 class="text-white">
                    ESCAZU
                  </h2>
                </div>

<div class="ui-159-pad">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#escazu1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="escazu1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#escazu2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#escazu3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#escazu4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="escazu4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 2 CARTAGO.......-->
            <div>
                  <h2 class="text-white">
                    CARTAGO
                  </h2>
                </div>

<div class="ui-159">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#cartago1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="cartago1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#cartago2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#cartago3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#cartago4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="cartago4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 3 LIBERIA.......-->
            <div>
                  <h2 class="text-white">
                    LIBERIA
                  </h2>
                </div>

<div class="ui-159">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#liberia1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="liberia1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#liberia2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#liberia3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#liberia4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="liberia4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 4 PUNTARENAS.......-->
            <div>
                  <h2 class="text-white">
                    PUNTARENAS
                  </h2>
                </div>

<div class="ui-159">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#puntarenas1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="puntarenas1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#puntarenas2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="puntarenas2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#puntarenas3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="puntarenas3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#puntarenas4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="puntarenas4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 5 SAN JOSE.......-->
            <div>
                  <h2 class="text-white">
                    SAN JOSE
                  </h2>
                </div>

<div class="ui-159">
      <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-green" role="button" data-toggle="collapse" href="#san_jose1" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-binoculars fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Paisajismo y Ecoturismo</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


            <div  class="collapse" id="san_jose1">


                      <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                </div>

                <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-blue" role="button" data-toggle="collapse" href="#san_jose2" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-bolt fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Accion y aventura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose2">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
 

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-red" role="button" data-toggle="collapse" href="#san_jose3" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-university fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Arquitectura</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose3">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item" style="border-radius: 100px;border: 3px solid #fff;">
                    <!-- Image -->
                    <%= image_tag 'verde.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content white bg-purple" role="button" data-toggle="collapse" href="#san_jose4" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-globe fa-5x text-white" style="margin-top: 15%;"></i>                                <!-- Heading -->
                                <h4 class="white">Cultura y vida local</h4>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div  class="collapse" id="san_jose4">

            <div class="ui-315">
                      <div class="container-fluid">
                      <div class="row">
                      <div class="col-md-12">
                      <div class="widget">
                      <!-- Widget body starts -->
                         <div class="w-body pages-widget">
                         <div class="table-responsive">
                           <table class="table table-hover">
                           <!-- Table heading -->
                             <tr> 
                               <th>Seleccion</th>
                               <th>Actividad</th>
                               <th>Ciudad</th>
                               <th>Status</th>
                
                             </tr>
                             <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=+Lago+J%C3%B6kuls%C3%A1rl%C3%B3n+" target="_blank">Visitar el lago Jökulsárlón</a></td>
                      <!-- Page size -->
                      <td>Reykjavic</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>

                      

                           </table>
                         </div>
                         </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>


            </div>
            <div class="divider-5"></div>
            <!-- NUMBER 6 LA FORTUNA.......-->
            
            


</div>





      <div>
   </div>
</div>